h2{
	margin-top: 136px;
	margin-bottom: 138px;
	font font-family: Arial,sans-serif;
	font-weight: 100;
	color: #333333;
}
p{
	margin-top: 44px;
	font font-family: Arial,sans-serif;
	font-weight: 600;
	color: #333333;

}

img{
	height: 140px;
}