@font-face {
  font-family: 'Proxima NovaBold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima NovaRegular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Proxima NovaRegular', sans-serif;
}
.section-header {
  margin: 2rem 0 10rem;
  font-family: 'Proxima NovaBold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
.main {
  background: #ffffff url(../img/bg.png) center center no-repeat;
  background-size: cover;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
section {
  padding: 10rem 0;
}
.btn {
  background-color: #fcb303;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.btn:hover {
  cursor: pointer;
  background-color: #e3a103;
}
.main {
  padding: 3rem 0 5rem;
}
.main-content {
  margin-top: 14rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem ;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
  font-family: 'Proxima NovaBold', sans-serif;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'Proxima NovaBold', sans-serif;
}
.main .trigger {
  font-size: 2.2rem;
  display: block;
  text-transform: uppercase;
  font-family: 'Proxima NovaBold', sans-serif;
  margin-top: 1rem;
}
.form {
  text-align: center;
  background-color: #fff;
}
.main-form {
  background-color: #fff;
  padding: 4rem 5rem;
}
.subtitle {
  margin-bottom: 3rem;
  font-size: 2.4rem;
}
.main-form-header {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}
.t {
  font-size: 1.9rem;
}
input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.8rem;
  margin: 2rem 0 ;
  border-radius: 5px;
}
label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
small {
  display: block;
  text-align: center;
  margin-top: 1.5rem;
}
.phone {
  display: inline-block;
  font-family: 'Proxima NovaBold', sans-serif;
  color: #1a1820;
  font-weight: 900;
  font-size: 17px;
  height: 7rem;
  line-height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
@media (max-width: 991px) {
  .phone {
    text-align: center;
  }
  body {
    background-position: top left;
  }
  .main-content {
    margin-top: 2rem;
  }
  .main-title {
    text-align: center;
    margin-bottom: 3rem;
  }
}
.features-block {
  text-align: center;
}
.features-img {
  height: 8rem;
}
.features img {
  display: block;
  margin: 0 auto;
}
.features h3 {
  font-size: 2rem;
  font-family: 'Proxima NovaBold', sans-serif;
  margin-bottom: 3rem;
}
.features p {
  display: inline-block;
  height: 80%;
  font-size: 1.6rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 40%;
  transform: scaleY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.next {
  right: 0;
  background: url(../img/right.svg) center no-repeat;
  background-size: 70%;
}
.prev {
  left: 0;
  background: url(../img/left.svg) center no-repeat;
  background-size: 70%;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 1rem 2rem;
}
.popup-form {
  margin-top: 2rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'Proxima NovaBold', sans-serif;
}
.main-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.8rem;
  margin: 2rem 0 ;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .logo {
    text-align: center;
  }
  .tel {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .main-title h1 {
    font-size: 2rem;
  }
  .main-title p {
    font-size: 1.6rem;
  }
}
